<h2><%= l(:label_add_ldap_users) %></h2>

<% form_for :new_users, :url => {:action => "create"} do |f| %>

    <%= f.error_messages %>

    <div class="box tabular">
      <p>
        <%= f.label :users, l(:label_ldap_username_plural) %>
        <%= f.text_field :users, :value => @users, :size => 40 %>
      </p>
      <p>
        <%= l(:text_ldap_username_separator) %>
      </p>

      <p>
        <%= f.label :auth_source, l(:label_ldap_authentication) %>
        <%= f.collection_select(:auth_source, @auth_sources, :id, :name) %>
      </p>

      <p>
        <%= submit_tag l(:button_add) %>
      </p>
    </div>
<% end %>