<h2>Add users from LDAP</h2>

<% form_for :users, :url => {:action => "create"} do |f| %>

    <div class="box tabular">
      <p>
        <%= f.label :users, l(:label_user_plural) %>
        <%= f.text_field :users, :required => true, :size => 40 %>
      </p>

      <p>
        <%= f.label :auth_source, l(:label_ldap_authentication) %>
        <%= f.collection_select(:auth_source, @auth_sources, :id, :name) %>
      </p>

      <p>
        <%= submit_tag l(:button_create) %>
      </p>
    </div>
<% end %>